<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Angular excel</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th scope="col" class="mw-60 text-center" *ngFor="let cell of cellService.headerCells; trackBy: trackByFn">
            {{cell}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of cellService.rows; let i = index; trackBy: trackByFn">
          <th scope="row">{{row}}</th>
          <td *ngFor="let cell of cellService.cells[i]; trackBy: trackByCellsFn"
              class="cursor-pointer cell">
            <app-cell [cell]="cell"></app-cell>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
