<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Angular excel</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th scope="col" *ngFor="let cell of headerCells">{{cell}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows; let i = index">
          <th scope="row">{{row}}</th>
          <td *ngFor="let cell of cells[i]; let j = index" class="cursor-pointer cell">
            <input (keyup)="onKeyUp($event, cell, input.value)" #input [(ngModel)]="cell.text"
                   (focus)="onFocus($event, cell, input.value)"
                   (focusout)="onFocusOut($event, cell, input.value)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
